
<div class="card-body">
        <button class="btn btn-warning" (click)="upvoteButtonClick()">Upvote {{numberOfUpvotes}}</button>

        <button class="btn btn-danger" (click)="downvoteButtonClick()">Downvote {{numberOfDownvotes}}</button>
       
</div>
           
  <!-- <div *ngFor='let quote of quotes; index=i'>

                <button class="btn btn-danger" (click)="voting(i)">Like</button>
                <button class="btn btn-danger" (click)="devoting(i)">Dislike</button>

        <p *ngIf='i==highest;else notHigh' appHighlight>


        </p>

  </div> -->

       
