<div class="card-body">
        <button class="btn btn-warning" (click)="upvoteButtonClick()">Upvote {{numberOfUpvotes}}</button>

        <button class="btn btn-danger" (click)="downvoteButtonClick()">Downvote {{numberOfDownvotes}}</button>
       
</div>
           
  
        <!-- <div>
                <span><button (click) ="upVote(i)">Upvote </button><button>{{quote.upvote}}</button></span>   
             
                 <span><button (click)="downVote(i)">Downvote</button><button>{{quote.downvote}}</button></span>  
        </div> -->
        

       
