<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Cookie&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Petit+Formal+Script&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rock+Salt&display=swap" rel="stylesheet">

</head>

<body>


  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6" id="quoteshub">
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
       
        <div *ngFor='let quote of quotes;let i = index'>        
            <h2 class="datepost">Posted {{quote.completeDate|date}}</h2>
            <p *ngIf='quote.upvote==highest||quote.upvote>highest;else notHigh' appHighlight>
                {{quote.description}} 
            </p>
            
            <ng-template #notHigh>
              {{quote.description}}
            </ng-template>
            <div id="votebuttons"><br>
              <button id="votebutton" class="btn btn-warning" (click)="voting(i)">Upvote {{quote.upvote}}</button>
              <button id="votebutton" class="btn btn-danger" (click)="devoting(i)">Downvote {{quote.downvote}}</button>
            </div><br>
           
            <button (click)='toggleDetails(i)' class="btn btn-success" id="quotedetails">Quote Details</button><br>
          
          <div *ngIf='quote.showDescription'>
            <app-quote-detail [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-detail>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
      </div>
    </div>
  </div>
</body>

</html>