body{
    
    font-family: 'Niconne', cursive;
    font-size: 30px;
    background-color: transparent;
}
button{
    
    font-size: 20px;
    font-family: 'Abhaya Libre', serif;
    
}
#time{
    
    font-family: 'Abhaya Libre', serif;
    
}